<div>
  <ul>
    {{#each this.Valute}}
    <li>
      <span>{{this.CharCode}}: </span>
      <span>{{this.Name}}</span>
      <ul>
        <span>{{this.Value}}</span>
      </ul>
    </li>
    {{/each}}
  </ul>
</div>

