<div id="loginPage">
  <h2>Войти</h2>
  <form name="loginForm" action="/auth/login" method="post">
    <div>
      <p>Имя</p>
      <input name="adminame" type="text" placeholder="Имя" required />
    </div>
    <div>
      <p>Пароль</p>
      <input name="password" type="password" placeholder="Пароль" required />
    </div>
    <div>
      <p>Действия</p>
      <button type="submit">Войти</button>
      <button type="reset">Очистить</button>
    </div>
  </form>
</div>
