<div id="signupForm">
  <h2>Регистрация нового админа</h2>
  <form name="adminForm" action="/auth/signup" method="post">
    <div>
      <p>Имя</p>
      <input name="adminame" type="text" placeholder="Имя" required />
    </div>
    <div>
      <p>Пароль</p>
      <input name="password" type="password" placeholder="Пароль" required />
    </div>

    <p>Действия</p>
    <button type="submit">Зарегистрироваться</button>
    <button type="reset">Очистить</button>
</div>
</form>
</div>
